In [1]:
import pandas as pd

# Dia 1 - Importação de Dados

## Dados de Emprestimos

### Coleta

In [2]:
dados_2010_1 = pd.read_csv('./datasets/dados_emprestimos/emprestimos-20101.csv')
dados_2010_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20102.csv')
dados_2011_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20111.csv')
dados_2011_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20112.csv')
dados_2012_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20121.csv')
dados_2012_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20122.csv')
dados_2013_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20131.csv')
dados_2013_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20132.csv')
dados_2014_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20141.csv')
dados_2014_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20142.csv')
dados_2015_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20151.csv')
dados_2015_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20152.csv')
dados_2016_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20161.csv')
dados_2016_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20162.csv')
dados_2017_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20171.csv')
dados_2017_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20172.csv')
dados_2018_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20181.csv')
dados_2018_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20182.csv')
dados_2019_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20191.csv')
dados_2019_2 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20192.csv')
dados_2020_1 = pd.read_csv('./datasets/dados_emprestimos//emprestimos-20201.csv')

### Unificando bases de dados

In [3]:
emprestimos_df = pd.concat([dados_2010_1, dados_2010_2, dados_2011_1, dados_2011_2,
                            dados_2012_1, dados_2012_2, dados_2013_1, dados_2013_2,
                            dados_2014_1, dados_2014_2, dados_2015_1, dados_2015_2,
                            dados_2016_1, dados_2016_2, dados_2017_1, dados_2017_2,
                            dados_2018_1, dados_2018_2, dados_2019_1, dados_2019_2,
                            dados_2020_1], ignore_index=True)

emprestimos_df.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

### Verificando duplicatas

In [4]:
emprestimos_df.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
2351375        L057436        2016/01/31 07:30:36.293000000  2016/01/02 08:38:40.009000000  2016/02/21 13:16:29.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    2
2351376        H004983        2016/01/31 07:31:36.786000000  2016/01/02 08:46:42.991000000  2016/02/22 16:10:28.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    2
                                                                                                                                                                        ..
1443393        2012037906     2013/03/20 20:17:10.574000000  2013/03/07 11:24:19.326000000  2013/03/25 08:58:44.000000000  2.011038e+09        ALUNO DE GRADUAÇÃO        1
1443395        2011033069     2013/04/07 01:06:51.679000000  2013/03/07 11:25:22.661000000  2013/05/07 16:19:34.000000000  2.011106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
1443401        2011078773     2013/03/22 18:04:25.360000000  2013/03/07 11:26:28.326000000  2013/04/03 16:53:35.000000000  2.012038e+09        ALUNO DE GRADUAÇÃO        1
1443402        2012043035     2013/03/14 09:32:24.614000000  2013/03/07 11:27:24.876000000  2013/04/01 08:58:02.000000000  2.013025e+09        ALUNO DE GRADUAÇÃO        1
1443366        2010049712     2013/03/20 20:11:43.832000000  2013/03/07 11:10:58.775000000  2013/04/04 08:27:18.000000000  2.012936e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

### Removendo duplicatas

In [5]:
emprestimos_df = emprestimos_df.drop_duplicates()

In [6]:
emprestimos_df.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    1
709687         L184117        2010/01/18 11:07:46.470000000  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000  2.007211e+08        ALUNO DE GRADUAÇÃO        1
709688         2007027500     2010/01/19 15:59:26.464000000  2010/01/04 08:27:33.569000000  2010/02/03 13:06:30.662000000  2.009046e+09        ALUNO DE GRADUAÇÃO        1
709689         L157395        2010/01/19 15:59:26.447000000  2010/01/04 08:27:33.596000000  2010/02/03 13:06:43.125000000  2.009046e+09        ALUNO DE GRADUAÇÃO        1
709691         2008046357     2010/01/19 11:50:13.404000000  2010/01/04 09:02:30.576000000  2010/02/02 12:13:36.132000000  2.005075e+08        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
10322244       2013089623     2018/01/15 06:32:47.550000000  2017/12/29 16:06:17.387000000  2018/01/30 15:43:22.000000000  2.017000e+10        ALUNO DE GRADUAÇÃO        1
10322288       L122565        2018/01/29 14:59:19.705000000  2017/12/29 17:09:38.870000000  2018/02/21 17:18:01.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    1
10322308       2017022347     2018/01/29 18:55:50.287000000  2017/12/29 17:17:32.104000000  2018/01/31 14:12:45.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    1
10322316       2015046054     2018/01/15 03:13:04.443000000  2017/12/29 17:25:25.068000000  2018/01/30 16:49:20.000000000  2.017014e+10        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

## Dados Acervo

### Coleta

In [7]:
acervo_df = pd.read_parquet('./datasets/dados_acervo/dados_exemplares.parquet')
acervo_df.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

### Verificando Duplicatas

In [8]:
acervo_df.value_counts()

id_exemplar  codigo_barras  colecao            biblioteca                                                   status_material  localizacao  registro_sistema
3            L000001        Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         638          1                   1
4            L000002        Acervo Circulante  Biblioteca Central Zila Mamede                               REGULAR          688          1                   1
5            L000003        Acervo Circulante  Biblioteca Central Zila Mamede                               REGULAR          694          1                   1
7            L000114        Acervo Circulante  Biblioteca Central Zila Mamede                               REGULAR          616          5                   1
10           L000041        Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         657          15                  1
                                                                                                                                                             ..
1353472      2021011150     Acervo Circulante  Biblioteca Setorial do Núcleo de Educação da Infância - NEI  REGULAR          951          268231              1
1353473      2019013454     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         997          268233              1
1353474      2019012811     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         987          268234              1
1353475      2019013451     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         764          268235              1
1353476      2019012276     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         962          268236              1
Name: count, Length: 546237, dtype: int64

### Removendo Duplicatas

In [9]:
acervo_df = acervo_df.drop_duplicates()
acervo_df.value_counts()

id_exemplar  codigo_barras  colecao            biblioteca                                                   status_material  localizacao  registro_sistema
3            L000001        Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         638          1                   1
4            L000002        Acervo Circulante  Biblioteca Central Zila Mamede                               REGULAR          688          1                   1
5            L000003        Acervo Circulante  Biblioteca Central Zila Mamede                               REGULAR          694          1                   1
7            L000114        Acervo Circulante  Biblioteca Central Zila Mamede                               REGULAR          616          5                   1
10           L000041        Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         657          15                  1
                                                                                                                                                             ..
1353472      2021011150     Acervo Circulante  Biblioteca Setorial do Núcleo de Educação da Infância - NEI  REGULAR          951          268231              1
1353473      2019013454     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         997          268233              1
1353474      2019012811     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         987          268234              1
1353475      2019013451     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         764          268235              1
1353476      2019012276     Acervo Circulante  Biblioteca Central Zila Mamede                               ESPECIAL         962          268236              1
Name: count, Length: 546237, dtype: int64

## Unificando DF Emprestimo com DF Acervo

In [10]:
df_completo = emprestimos_df.merge(acervo_df)
df_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,91736

# Dia 2 - Limpeza de dados

## Alteração de valores da coluna "localizacao" para valores do CDU - Classificação Decimal Universal

In [11]:
cdu_values = [
    (0, 99, "Generalidades. Ciência e conhecimento"),
    (100, 199, "Filosofia e psicologia"),
    (200, 299, "Religião"),
    (300, 399, "Ciências sociais"),
    (400, 499, "Classe vaga. Provisoriamente não ocupada"),
    (500, 599, "Matemática e ciências naturais"),
    (600, 699, "Ciências aplicadas"),
    (700, 799, "Belas artes"),
    (800, 899, "Linguagem. Língua. Linguística"),
    (900, 999, "Geografia. Biografia. História")
]

def get_label(column_value):
    
    for start, end, label in cdu_values:
        if start <= column_value <= end:
            return label

    return None

In [12]:
df_completo['localizacao'] = df_completo['localizacao'].apply(get_label)

df_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,Ciências aplicadas,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas,44494
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas,91736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,Ciências aplicadas,110098
2072518,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,Ciências aplicadas,110171
2072519,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,Ciências aplicadas,134173
2072520,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas,67712
2072521,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Generalidades. Ciência e conhecimento,205153

In [13]:
df_completo['localizacao'] = df_completo['localizacao'].astype(str)

print("Quantidade de valores inválidos: ", df_completo['localizacao'].isnull().sum())

Quantidade de valores inválidos:  0

## Exclusão da coluna "registro_sistema"

In [14]:
print("Colunas antes do drop: ", df_completo.columns.values)

df_completo = df_completo.drop(columns=['registro_sistema'])

print("Colunas depois do drop: ", df_completo.columns.values)

Colunas antes do drop:  ['id_emprestimo' 'codigo_barras' 'data_renovacao' 'data_emprestimo'
 'data_devolucao' 'matricula_ou_siape' 'tipo_vinculo_usuario'
 'id_exemplar' 'colecao' 'biblioteca' 'status_material' 'localizacao'
 'registro_sistema']
Colunas depois do drop:  ['id_emprestimo' 'codigo_barras' 'data_renovacao' 'data_emprestimo'
 'data_devolucao' 'matricula_ou_siape' 'tipo_vinculo_usuario'
 'id_exemplar' 'colecao' 'biblioteca' 'status_material' 'localizacao']

## Formatação da coluna "matricula_ou_siape"
não está com um formato muito legível. Transforme-a em formato String

In [15]:
df_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas

In [16]:
df_completo['matricula_ou_siape'] = df_completo['matricula_ou_siape'].astype(str)

In [17]:
df_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2009045971.0,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,Ciências aplicadas

# Dia 3 = ???